{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}


<form method='POST' action="{% url 'updatequestion' form.instance.queid %}">
{% csrf_token %}

{{ form | crispy }}

<input class='btn btn-primary'  type='submit' value='Submit'>
</form>
<h1> Answers </h1>
{% for answer in answers %}
    <a href="{% url 'updateanswer' form.instance.queid answer.ansid %}" > {{ answer.ans_desc }}</a>
    <br>
{% endfor %}
<a href="{% url 'answer' form.instance.queid %}" > Post New Answer </a>
{% endblock %}
