{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}


{% comment %} <form method='POST' action="{% url 'updateanswer' queid=queid ansid=ansid %}">
{% csrf_token %}

{{ form | crispy }}

<input class='btn btn-primary'  type='submit' value='Submit'>
</form> {% endcomment %}

<h3 > {{ ansobj.ans_desc }} </h3>

<h2>Comments</h2>
{% for cmt in cmts %}
    <a href="." > {{ cmt.cmt_desc }}</a>
    <br>
{% endfor %}
<br>
<a href="{% url 'createcomment' queid=queid ansid=ansid %}" > Add Comment </a>
{% endblock %}
